<!DOCTYPE html>
<html>
<head>
	<title>App Thing</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
	<script type="text/javascript">
		(function(){
			function getJSON(url, callback){
				var xhr = new XMLHttpRequest();
				xhr.addEventListener("load", function(){
					var json = JSON.parse(xhr.responseText);
					callback.call(xhr, json);
				});
				xhr.open("GET", url);
				xhr.send();
				//console.log("hi")
			}
			document.addEventListener("DOMContentLoaded", function(){
				getJSON("./posts", function(data){console.log(data);
					data.posts.forEach(function(post, i){console.log(post);
						var postDiv = document.createElement("div");
							postDiv.classList.add("post");
							var titleLink = document.createElement("a");
								titleLink.href = "./post/" + post._id;
								var title = document.createElement("h3");
									title.classList.add("post-title");
									title.innerHTML = post.title;
								titleLink.appendChild(title);
							postDiv.appendChild(titleLink);
							var snippet = document.createElement("p");
								snippet.classList.add("post-snippet");
								snippet.innerHTML = post.snippet;
							postDiv.appendChild(snippet);
						document.getElementById("posts").appendChild(postDiv);
					});
				});
			});
		})();
	</script>
</head>
<body>
	<div id="wrapper">
		<div class="col-main">
			<h1 class="page-head">Message Board</h1>
			<div id="content">
				<div id="post-form-cont">
					<form action="./submit-post" method="post">
						<span class="form-label">Title:</span>
						<input type="text" name="title"></input>
						<br />
						<span class="form-label">Content:</span>
						<textarea name="content"></textarea>
						<input type="submit" name="button" class="button" value="Submit"></input>
					</form>
				</div>
				<div id="posts"></div>
			</div>
		</div>
	</div>
</body>
</html>